html,
body {
    padding: 0 !important;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

* {
    box-sizing: border-box;
    word-wrap: break-word;
}

.MuiMenu-list {
    background-color: #fafafa;
}

.image-gallery-icon:hover {
    color: #e7e7e7 !important;
}

.rotate {
    transform: rotate(180deg);
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #fbc32b;
}

@keyframes ring {
    0% {
        -webkit-transform: rotate(-8deg);
        -ms-transform: rotate(-8deg);
        transform: rotate(-8deg)
    }

    2% {
        -webkit-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
        transform: rotate(8deg)
    }

    4% {
        -webkit-transform: rotate(-9deg);
        -ms-transform: rotate(-9deg);
        transform: rotate(-9deg)
    }

    6% {
        -webkit-transform: rotate(9deg);
        -ms-transform: rotate(9deg);
        transform: rotate(9deg)
    }

    8% {
        -webkit-transform: rotate(-11deg);
        -ms-transform: rotate(-11deg);
        transform: rotate(-11deg)
    }

    10% {
        -webkit-transform: rotate(11deg);
        -ms-transform: rotate(11deg);
        transform: rotate(11deg)
    }

    12% {
        -webkit-transform: rotate(-9deg);
        -ms-transform: rotate(-9deg);
        transform: rotate(-9deg)
    }

    14% {
        -webkit-transform: rotate(9deg);
        -ms-transform: rotate(9deg);
        transform: rotate(9deg)
    }

    16% {
        -webkit-transform: rotate(-6deg);
        -ms-transform: rotate(-6deg);
        transform: rotate(-6deg)
    }

    18% {
        -webkit-transform: rotate(6deg);
        -ms-transform: rotate(6deg);
        transform: rotate(6deg)
    }

    20% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

.phoneIcon:hover {
    cursor: auto;
    animation: ring 4s ease infinite;
    transform-origin-x: 50%;
    transform-origin-y: 0px;
    transform-origin-z: initial
}

.custom-gallery {
    width: 100%;
    padding-top: 75%;
    height: 0;
    position: relative;
}

.phone {
    padding-top: 133%;
}

.custom-gallery div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.custom-gallery img {
    object-fit: cover !important;
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
}
